@model CinemaNuMetroV1.Models.Sessao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sessao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="sala" class="control-label"></label>
                <input asp-for="sala" class="form-control" />
                <span asp-validation-for="sala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horario" class="control-label"></label>
                <input asp-for="horario" class="form-control" />
                <span asp-validation-for="horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoSessao" class="control-label"></label>
                <input asp-for="tipoSessao" class="form-control" />
                <span asp-validation-for="tipoSessao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="acessorios" /> @Html.DisplayNameFor(model => model.acessorios)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
